*/build*/*
*/*/build*/*
*/*/build_/*
*/*/*/build*/*
*/*/media/*.txt
*/*/media/*.bin
*/*/*.bin
*/__pycache__
*/*/__pycache__
*/*/*/__pycache__
src/DA16200/DA16200_Application/build/*
*.o
*.a
*.bak
*.csv
log.log
*.user
*.DS_Store
settings.json
