/*
 * DTS Overlay for 5340 devkit, running Main app
 */

&zephyr_udc0 {
	cdc_acm_uart0: cdc_acm_uart0 {
		compatible = "zephyr,cdc-acm-uart";
		label = "CDC_ACM_0";
		hw-flow-control;
	};
};

spi1: &spi1 {
	compatible = "nordic,nrf-spim";
	status = "okay";
	cs-gpios = <&gpio1 12 GPIO_ACTIVE_LOW>;

	pinctrl-0 = <&spi1_default>;
	pinctrl-1 = <&spi1_sleep>;
	pinctrl-names = "default", "sleep";

	uci_spi: spi1@0 {
		compatible = "vnd,spi-device";
		status = "okay";
		reg = <0>;
		spi-max-frequency = <8000000>;
	};
};

&uart1 {
	compatible = "nordic,nrf-uarte";
    status = "disabled";
};

&i2c1 {
	compatible = "nordic,nrf-twim";
    status = "disabled";
};

&i2c2 {
    compatible = "nordic,nrf-twim";
	zephyr,flash-buf-max-size = <2048>;
    status = "okay";
    clock-frequency = <I2C_BITRATE_STANDARD>;
    pinctrl-0 = <&i2c2_default>;
    pinctrl-1 = <&i2c2_sleep>;
    pinctrl-names = "default", "sleep";

	/* SSD1306 OLED display */
    display: ssd1306@3c {
        compatible = "solomon,ssd1306fb";
        reg = <0x3c>;
        label = "SSD1306";
        height = <64>;
        width  = <128>;
        segment-offset  = <0>;
        page-offset     = <0>;
        display-offset  = <0>;
        multiplex-ratio = <31>;
        prechargep      = <0xD1>;
        segment-remap;
        com-invdir;
        com-sequential;
    };
};

#include "nrf5340dk_nrf5340-pinctrl.dtsi"


/ {
	gpio {
		compatible = "gpio-leds";

		// sync
		uwb_spi_sync: uwb_gpio_1 {
			gpios = <&gpio1 7 (GPIO_ACTIVE_HIGH)>;
		};

		// irq
		uwb_spi_irq: uwb_gpio_2 {
			gpios = <&gpio1 8 (GPIO_ACTIVE_HIGH)>;
		};

		// ce
		uwb_spi_ce: uwb_gpio_3 {
			gpios = <&gpio1 4 (GPIO_ACTIVE_HIGH)>;
		};
	};

	chosen {
		nordic,pm-ext-flash = &mx25r64;
	};
};


